# Xcode
*.xcodeproj
VolleyballPassingStats.xcodeproj/
*.app
*.xctest

# Private keys and certs
*.p12
*.jks
*.pem
*.keystore
*.pepk

# Images and Media
Assets.xcassets
*.png
*.jpg

# Mac OS
.DS_Store

# Android
*.iml
*.gradle
Android/local.properties
Android/.idea
Android/build
Android/captures
*.externalNativeBuild
Android/build.gradle
Android/gradle.properties
Android/gradle/
Android/gradlew
Android/gradlew.bat
Android/screenshots/
Android/settings.gradle
Android/app/build/
Android/app/proguard-rules.pro
Android/app/release/
Android/app/src/androidTest/
Android/app/src/test/
Android/app/instant/
Android/app/installed

